body{
    font-family: 'Work Sans', sans-serif;
}

.header{
    background-color: rgba(243, 198, 189, 1);
    padding: 44px 0 71px;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex_start{
    justify-content: start;
}

.logo img{
    margin-right: 15px;
}

.logo_title{
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #2B292D;
}

.logo_text{
    font-size: 18px;
    line-height: 25px;
    color: rgba(43, 41, 45, 0.6);
}

.header_check{
    width: 19px;
    height: 2px;
    background-color: rgba(44, 50, 65, 1);
}

.header_check:not(:last-of-type){
    margin: 0 0 3px;
}

.header_checkbox, .header_check-wrapper{
    display: none;
}

.header_link{
    font-size: 18px;
    line-height: 25px;
    color: #2B292D;
    text-decoration: none;
    position: relative;
}

.header_link:hover{
    font-weight: 700;
}

.header_link:hover::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: black;
    bottom: -1px;
}

.header_li:not(:last-of-type){
    margin-right: 40px;
}

.header_ul{
    margin-right: 75px;
}

.button{
    width: 160px;
    height: 48px;
    border: none;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #3040C4;
    border-radius: 2px;
    font-size: 18px;
    line-height: 13px;
    color: #FFFFFF;
    font-weight: 700;
    box-sizing: border-box;
    transition: 500ms;
    transition-timing-function: ease-out;
    font-family: 'Work Sans', sans-serif;
}

.button:hover{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #2e42f4;
    cursor: pointer;
}

.main{
    background-color: rgba(243, 198, 189, 1);
    padding-bottom: 126px;
    position: relative;
}

.main_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_container > div:first-of-type{
    z-index: 1;
}

.main_container > div:last-of-type{
    z-index: 0;
    position: absolute;
    right: 25px;
    top: 8px;
}

.main_title{
    max-width: 754px;
    font-weight: 700;
    font-size: 80px;
    line-height: 78px;
    letter-spacing: -0.5px;
    margin: 0 0 34px;
    color: rgba(43, 41, 45, 1);
}

.main_text{
    max-width: 456px;
    font-size: 24px;
    line-height: 34px;
    margin: 0 0 58px;
    color: rgba(43, 41, 45, 1);
}

.main_button-white{
    width: 158px;
    background: white;
    color: rgba(48, 64, 196, 1);
    margin-left: 10px;
}

.main_button-white:hover{
    background-color: rgb(3, 26, 230);
    color: #FFFFFF;
}

.questions{
    background-color: #F4F5F7;
    padding: 77px 0 76px;
}

.questions_title{
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;
}

.questions_text{
    max-width: 555px;
    font-size: 22px;
    line-height: 32px;
    color: #2B292D;
}

.brands{
    padding: 30px 0 106px;
}

.brands-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1140px;
    margin: 0 auto;
}

.features{
    padding: 0 0 110px;
    position: relative;
}

.features_flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.features_description::before{
    content: '';
    position: absolute;
    left: 0;
    top: 258px;
    width: 88px;
    height: 166px;
    background-image: url(../img/Features/ouch.svg);
    background-size: 88px 166px;
}

.features_info_title{
    margin-bottom: 30px;
}

.features_info_text{
    margin-bottom: 42px;
}

.capabilities{
    max-width: 459px;
}

.capability{
    padding: 3px 0 22px;
    border-bottom: 1px solid rgba(43, 41, 45, 0.15);
    margin-bottom: 20px;
}

.capability_title{
    font-size: 22px;
    line-height: 26px;
    font-weight: 700;
    width: 418px;
}

.capability > .flex{
    cursor: pointer;
}

.capability_color-change{
    color: rgba(49, 66, 198, 1);
    border-bottom: 3px solid  rgba(49, 66, 198, 1);
    transition: 300ms;
}

.capability_text{
    margin-top: 8px;
    font-size: 18px;
    line-height: 26px;
    color:rgba(43, 41, 45, 1);
    display: none;
}

.features_flex > div:last-of-type{
    position: absolute;
    right: 0;
    top: 11px;
}

.inbox{
    background-color: rgba(252, 240, 227, 0.4);
    padding: 115px 0 118px;
}

.inbox_image{
    animation-name: Rotate;
    animation-duration: 3s;
}

.inbox_response{
    max-width: 519px;
    width: 100%;
    background-color: white;
    padding: 30px 30px 24px;
    box-sizing: border-box;
    border-bottom: 3px solid #0185D0;
}

.inbox_text{
    font-size: 20px;
    line-height: 28px;
    color: #2B292D;
    margin-bottom: 26px;
}

.inbox_text-bold{
    font-weight: 700;
}

.inbox_name{
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #2B292D;
}

.inbox_position{
    font-size: 16px;
    line-height: 22px;
    color: rgba(43, 41, 45, 0.6);
}

.inbox_img{
    margin-right: 11px;
}

.info_pretitle{
    font-weight: 700;
    font-size: 22px;
    line-height: 34px;
}

.info_pretitle-orange{
    color: rgba(241, 89, 43, 1);
    margin-bottom: 26px;
}

.info_pretitle-blue{
    color: rgba(1, 137, 209, 1);
    margin-bottom: 24px;
}

.info_pretitle-green{
    color: rgba(0, 155, 77, 1);
    margin-bottom: 24px;
}

.info_title{
    max-width: 462px;
    font-weight: 700;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    color: #2B292D;
}

.info_text{
    max-width: 461px;
    font-size: 24px;
    line-height: 34px;
    color: #2B292D;
}

.inbox_info_title{
    margin-bottom: 26px;
}

.inbox_info_text{
    margin-bottom: 44px;
}

.communication{
    padding: 110px 0 105px;
}

.communication_title{
    margin-bottom: 30px;
}

.communication_text{
    margin-bottom: 39px;
}

.communication_image{
   animation-name: Move;
   animation-duration: 3s;
}

.communication_container{
    margin-top: 105px;
}

.communication_description{
    max-width: 360px;
}

.description_text{
    font-size: 18px;
    line-height: 26px;
    color: #2B292D;
    margin-bottom: 10px;
}

.description_text-bold{
    font-weight: 700;
}

.description_link{
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: #3142C6;
}

.engaging{
    padding: 108px 0 110px;
    background-color: rgba(0, 161, 198, 0.07);
    text-align: center;
}

.info_title-wide{
    max-width: 555px;
    margin: 24px auto 30px;
}

.info_text-wide{
    max-width: 555px;
    margin: 0 auto 34px;
}

.engaging_buttons{
    margin-bottom: 111px;
}

.button-white{
    width: 158px;
    background: white;
    color: #000000;
    margin-left: 10px;
}

.button-white:hover{
    background: black;
    color: white;
    cursor: pointer;
    transition: 1s;
}

.pictures-grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
}

.pictures{
    display: inline-block;
    width: 262px;
    height: 300px;
    background-color: white;
    border-radius: 8px;
}

.pictures_icon{
    margin-top: 22px;
}

.pictures_text{
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    color: #2B292D;
    margin: 22px 0 33px;
}

.pictures:hover{
    background: #3141C5;
    cursor: pointer;
    transition: 1s;
}

.pictures:hover > .pictures_text{
    color: white;
}

.slider{
    text-align: center;
    padding: 0 0 106px;
    position: relative;
}

.slider_title{
    font-size: 24px;
    line-height: 30px;
    color: rgba(49, 66, 198, 1);
    font-weight: 700;
    margin-bottom: 28px;
}

.slider_text{
    font-size: 24px;
    line-height: 34px;
    max-width: 750px;
    margin:0 auto 34px;
}

.slider_name{
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.slider_position{
    font-size: 16px;
    line-height: 24px;
    color: rgba(43, 41, 45, 0.6);
}

.slider_image{
    position: absolute;
    top: 112px;
    right: 26px;
}

.hiring{
    padding: 0 0 90px;
    text-align: center;
}

.hiring_container{
    max-width: 750px;
    margin: 0 auto;
}

.hiring_description{
    margin-bottom: 63px;
}

.hiring_title-wide{
    max-width: 555px;
    font-weight: 700;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -0.5px;
    color: #2B292D;
    margin: 0px auto 20px;
}

.hiring_text-wide{
    max-width: 555px;
    font-size: 20px;
    line-height: 28px;
    color: #2B292D;
    margin: 0 auto 28px;
}

.hiring_button{
    width: 247px;
}

.vacancies{
    max-width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 26px 25px;
    border: 1px solid rgba(43, 41, 45, 0.2);
    border-radius: 8px;
}

.vacancies:hover{
    cursor: pointer;
}

.vacancies:not(:last-of-type){
    margin-bottom: 20px;
}

.vacancy_pretitle{
    width: 408px;
    text-align: start;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
}

.vacancy_pretitle-lower{
    font-size: 18px;
    line-height: 24px;
    color: rgba(43, 41, 45, 0.6);
}

.vacancy_icon{
    font-size: 18px;
    line-height: 24px;
    color: rgba(44, 50, 65, 0.6);

}

.hiring_color-change{
    color: white;
    background-color: rgba(49, 65, 197, 1);
    border: 1px solid rgba(49, 65, 197, 1);
    transition: 300ms;
}

.vacancy-icon-rotate{
    transform: rotate(90deg);
    transition: 300ms;
}

.vacancy_text{
    text-align: start;
    margin-top: 3px;
    max-width: 410px;
    font-size: 18px;
    line-height: 26px;
    display: none;
}

.photos{
    padding: 0 0 91px;
    text-align: center;
}

.photos_title{
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    color: #000000;
}

.photos_text{
    font-size: 24px;
    line-height: 34px;
    color: #172342;
    max-width: 554px;
    margin: 26px auto 97px;
}

.photos-grid{
    display: grid;
    gap: 42px 50px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.photo_item{
    width: 100%;
    height: 100%;
}

.photo_item:nth-child(3), .photo_item:nth-child(4){
    grid-row: span 2;
}

.start{
    padding: 73px 224px 72px;
    background: rgba(244, 245, 247, 1);
}

.start_flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.start_image-flex{
    display: flex;
    justify-content: center;
}

.start_img{
    animation-name: Zoom;
    animation-duration: 3s;
}

.start_title{
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.25px;
    font-weight: 700;
    margin: 0 0 12px 20px;
}

.start_text{
    max-width: 555px;
    font-size: 22px;
    line-height: 32px;
    margin: 0 0 26px 20px;;
}

.start_form{
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.start_input{
    width: 385px;
    height: 48px;
    border: 1px solid rgba(43, 41, 45, 0.2);
    box-sizing: border-box;
    margin: 0 10px 0 20px;
    padding-left: 15px;
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    line-height: 13px;
}

.start_input::placeholder{
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    line-height: 13px;
}

.start_ul{
    display: flex;
}

.start_label{
    display: flex;
    align-items: flex-start;
}

.start_checkbox{
    opacity: 0;
}

.start_fake{
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid rgba(43, 41, 45, 0.2);
    border-radius: 25%;
    margin: 3px 5px 0 0;
    position: relative;
}

.start_fake::before{
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #3040C4;;
    border-radius: 25%;
    box-sizing: border-box;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: 500ms;
}

.start_checkbox:checked ~ .start_fake::before{
    opacity: 1;
}

.start_text-lower{
    display: inline-block;
    font-size: 14px;
    line-height: 22px;
    color: rgba(43, 41, 45, 0.6);
}

footer{
    padding: 134px 0 52px;
}

.footer_container{
    max-width: 1000px;
}

.footer_flex{
    display: flex;
    justify-content: space-between;
}

.logo_flex{
    display: flex;
    align-items: center;
}

.footer_logo{
    margin-bottom: 26px;
}

.footer_title-logo{
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #2B292D;
}

.footer_text-logo{
    font-size: 18px;
    line-height: 25px;
    color: rgba(43, 41, 45, 0.6);
}

.footer_text{
    max-width: 360px;
    font-size: 18px;
    line-height: 26px;
    color: rgba(43, 41, 45, 0.6);
    margin-bottom: 25px;
}

.footer_links{
    margin-bottom: 59px;
}

.footer_link{
    display: inline-block;
    text-decoration: none;
}

.footer_link:not(:last-of-type){
    margin-right: 10px;
}

.footer_title{
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    color: #2B292D;
    margin-bottom: 18px;
}

.footer_text-big{
    font-size: 18px;
    line-height: 30px;
    color: rgba(43, 41, 45, 0.6);
}

.footer_border{
    height: 1px;
    background-color: rgba(43, 41, 45, 0.1);
}

.footer_container-lower{
    max-width: 1140px;
    margin: 0 auto;
}

.footer_ul{
    display: flex;
}

.footer_li:not(:last-of-type){
    margin-right: 10px;
}

.footer_text-small{
    font-size: 14px;
    line-height: 22px;
    color: rgba(43, 41, 45, 0.6);
}

.modal-overlay{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    display: none;
}

.modal{
    max-width: 430px;
    text-align: center;
    background-color: aliceblue;
    padding: 15px 30px 30px;
    box-sizing: border-box;
    border-radius: 10px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal_close{
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
    font-weight: 700;
}

.modal_input{
    width: 370px;
    height: 48px;
    border: 1px solid rgba(43, 41, 45, 0.2);
    box-sizing: border-box;
    padding-left: 15px;
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    line-height: 13px;
    margin-bottom: 20px;
}

.modal_input::placeholder{
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    line-height: 13px;
}

.text_sign_up{
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 15px;
    font-weight: 700;
}

.sign_up{
    width: 370px;
    height: 48px;
    border: none;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #3040C4;
    border-radius: 2px;
    font-size: 18px;
    line-height: 13px;
    color: #FFFFFF;
    font-weight: 700;
    box-sizing: border-box;
    transition: 500ms;
    font-family: 'Work Sans', sans-serif;
}

.sign_up:hover{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #2e42f4;
    cursor: pointer;
}

@keyframes Move{
    from{
        transform: translateX(300px);
    }

    to{
        transform: none;
    }
}

@keyframes Rotate{
    from{
        transform: rotate(180deg);
    }

    to{
        transform: none;
    }
}

@keyframes Zoom{
    from{
        width: 50%;
    }

    to{
        width: 100%;
    }
}

@media screen and (max-width: 1340px){
    .features > .container{
        max-width: 950px;
    }

    .features_flex > div:last-of-type{
        top: 30px;
    }

    .features_img{
        width: 600px;
    }

    .slider_title{
        max-width: 750px;
        margin: 0 auto 28px;
    }
    
    .slider_text{
        max-width: 600px;
        margin:0 auto 34px;
    }
}

@media screen and (max-width: 1200px){
    .container{
        max-width: 1040px; 
    }

    .header{
        padding: 44px 0 50px;
    }

    .questions{
        padding: 45px 0 45px;
    }

    .brands{
        padding: 30px 0 75px
    }

    .brands-flex{
        max-width: 1040px;
    }

    .features > .container{
        max-width: 880px;
    }

    .features_flex > div:last-of-type{
        top: 70px;
    }

    .features_img{
        width: 520px;
    }

    .footer_container{
        max-width: 940px;
    }

    .footer_container-lower{
        max-width: 1040px;
    }

    .slider_img{
        width: 200px;
    }
}

@media screen and (max-width: 1090px){
    .container{
        max-width: 750px;    
    }

    .header{
        padding: 31px 0 25px;
    }

    .logo_text{
        display: none;
    }

    .header_checkbox, .header_check-wrapper{
        display: block;
    }

    .header_menu{
        position: relative;
    }

    .header_nav{
        display: none;
    }

    .header_check{
        transition: 1s;
    }

    .header_checkbox{
        position: absolute;
        width: 19px;
        height: 19px;
        margin: 0;
        right: 0;
        top: 0;
        opacity: 0;
        z-index: 4;
    }

    .header_checkbox:checked ~ .header_check-wrapper > .header_check:first-of-type{
        transform: rotate(45deg) translate(6px, 6px);
    }

    .header_checkbox:checked ~ .header_check-wrapper > .header_check:nth-of-type(2){
        opacity: 0;
    }

    .header_checkbox:checked ~ .header_check-wrapper > .header_check:last-of-type{
        transform: rotate(-45deg) translate(1px, -1px);
    }

    .header_checkbox:checked ~ .header_nav{
        display: block;
        position: fixed;
        background-color: rgba(243, 198, 189, 1);
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        text-align: center;
        padding-top: 50px;
        z-index: 2;
    }

    .header_check-wrapper{
        position: relative;
        z-index: 3;
    }

    .ul_flex{
        flex-direction: column;
    }

    .header_ul{
        margin: 0;
    }

    .header_li:not(:last-of-type){
        margin-right: 0px;
    }

    .header_li{
        margin-bottom: 5px;
    }

    .header_button{
        width: 110px;
        height: 25px;
        font-size: 16px;
    }

    .main{
        padding: 0;
    }

    .main_container{
        display: block;
    }

    .main_title{
        max-width: 525px;
        font-size: 60px;
        line-height: 72px; 
        letter-spacing: -0.5px;
        margin: 0 0 15px;
    }

    .main_text{
        max-width: 355px;
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 30px;
    }

    .main_button{
        width: 125px;
        font-size: 16px;
        line-height: 13px;
    }

    .main_button-white{
        margin-left: 8px;
    }

    .main_container > div:last-of-type{
        position: static;
        text-align: center;
    }

    .main_img{
        width: 620px;
    }

    .flex_questions{
        flex-direction: column;
    }

    .questions{
        padding: 30px 0 34px;
    }

    .questions_text{
        max-width: 432px;
    }

    .questions_text:not(:last-of-type){
        margin-bottom: 40px;
    }

    .brands{
        padding: 25px 0 41px;
    }

    .brands-flex{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1 fr);
        row-gap: 28px;
        max-width: 750px;
    }

    .brands_container{
        justify-self: center;
    }

    .features{
        padding: 0 0 67px;
        text-align: center;
    }

    .features_flex{
        display: block;
    }

    .features_description::before{
        top: 248px;
    }

    .features_info_text{
        line-height: 34px;
        max-width: 392px;
    }

    .features_flex > div:last-of-type{
        position: static;
    }

    .features_img{
        width: 538px;
    }

    .info_pretitle-green{
        margin-bottom: 12px;
    }

    .features_info_title{
        margin: 0 auto 12px;
    }

    .features_info_text{
        margin: 0 auto 50px;
    }

    .capabilities{
        margin: 0 auto;
        text-align: start;
    }

    .flex_inbox-column{
        flex-direction: column-reverse;
    }

    .inbox{
        padding: 56px 0 69px;
    }

    .info{
        text-align: center;
    }

    .info_pretitle-orange{
        margin-bottom: 15px;
    }

    .info_title{
        font-size: 48px;
        line-height: 52px;
    }

    .info_text{
        max-width: 429px;
        font-size: 20px;
        line-height: 34px;
    }

    .inbox_info_title{
        margin: 0 auto 14px;
    }

    .inbox_info_text{
        margin: 0 auto 41px;
        line-height: 26px;
    }

    .inbox_response{
        margin: 0 auto 75px;
        text-align: start;
    }

    .flex_communication-column{
        flex-direction: column;
    }

    .communication{
        text-align: center;
        padding: 73px 0 38px;
    }

    .info_pretitle-blue{
        margin-bottom: 18px;
    }

    .communication_title{
        max-width: 318px;
        font-weight: 700;
        font-size: 48px;
        line-height: 56px;
        letter-spacing: -0.5px;
        color: #2B292D;
        margin: 0 auto 19px;
    }

    .communication_container{
        margin-top: 0;
    }

    .communication_text{
        max-width: 419px;
        line-height: 26px;
        margin-bottom: 41px;
    }

    .communication_button{
        margin-bottom: 37px;
    }

    .communication_description:not(:first-of-type){
        display: none;
    }

    .communication_description{
        max-width: 322px;
        margin: 38px auto 0;
    }

    .engaging{
        padding: 50px 0 79px;
    }

    .info_pretitle-black{
        margin-bottom: 27px;
    }

    .info_title-wide{
        font-size: 48px;
        line-height: 56px;
        max-width: 413px;
        margin: 0 auto 27px;
    }

    .info_text-wide{
        font-size: 20px;
        line-height: 26px;
        max-width: 466px;
        margin: 0 auto 27px;
    }
    
    .engaging_buttons{
        margin-bottom: 52px;
    }

    .pictures-grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 38px 64px;
    }

    .pictures:nth-child(1), .pictures:nth-child(3){
        justify-self: end;
    }

    .slider{
        padding: 41px 0 87px;
    }

    .slider_title{
        max-width: 573px;
        margin: 0 auto 14px;
    }

    .slider_text{
        max-width: 584px;
        margin: 0 auto 10px;
    }

    .slider_image{
        position: static;
        width: 273px;
        margin: 0 auto;
    }

    .hiring{
        padding: 0 0 113px;
    }
    
    .hiring_description{
        margin-bottom: 67px;
    }
    
    .hiring_title-wide{
        font-size: 48px;
        line-height: 56px;
        margin: 0 auto 14px;
    }
    
    .hiring_text-wide{
        max-width: 391px;
        font-size: 20px;
        line-height: 26px;
        margin: 0 auto 27px;
    }
    
    .hiring_button{
        width: 247px;
    }

    .photos{
        padding-bottom: 124px;
    }

    .photos_title{
        margin: 0 auto 29px;
        max-width: 500px;
        font-size: 48px;
        line-height: 56px;
    }

    .photos_text{
        margin: 0 auto 114px;
        max-width: 399px;
        font-size: 20px;
    }

    .photos-grid{
        gap: 29px 45px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    .photo_item:nth-child(7){
        display: none;
    }

    .photo_item:nth-child(3){
        grid-column: 2/3;
        grid-row: 1/3;
    }

    .photo_item:nth-child(4){
        grid-row: 2/4;
    }

    .photo_item:nth-child(2){
        grid-row: 4/5;
        grid-column: 2/3;
    }

    .start{
        padding: 76px 0 63px;
        background: rgba(244, 245, 247, 1);
        text-align: center;
    }

    .start_flex{
        flex-direction: column-reverse;
    }

    .start_img{
        width: 100%;
    }

    .start_title{
        max-width: 325px;
        font-size: 48px;
        line-height: 40px;
        letter-spacing: -0.357143px;
        margin: 0 auto 51px;
    }

    .start_text{
        max-width: 590px;
        margin: 0 auto 35px;
    }

    .start_form{
        margin: 1px 10px 22px 0;
    }

    .start_label{
        max-width: 470px;
        margin: 0 auto 14px;
    }

    .start_text-lower{
        max-width: 431px;
        text-align: start;
    }

    .start_input{
        max-width: 290px;
        padding-left: 0;
        text-align: center;
        margin: 0;
    }

    .start_input::placeholder{
        text-align: center;
    }

    .start_button{
        width: 290px;
    }

    .footer{
        padding: 49px 0 48px;
    }

    .footer_container{
        max-width: 343px;
        margin: 0 auto;
    }

    .footer_container-lower{
        max-width: 343px;
    }

    .footer_flex{
        display: block;
    }

    .logo_flex{
        display: block;
        text-align: center;
    }

    .footer_links{
        margin-bottom: 0;
        text-align: center;
    }

    .footer_text{
        display: none;
    }

    .footer_title{
        font-weight: 700;
        font-size: 28px;
        line-height: 28px;
        color: #2B292D;
        margin-bottom: 32px;
    }

    .footer_title:last-of-type{
        margin-top: 25px;
    }
    
    .footer_text-big{
        font-size: 20px;
        line-height: 30px;
        color: rgba(43, 41, 45, 0.6);
    }
    
    .footer_border{
        display: none;
    }
    
    .footer_text-small{
        font-size: 18px;
        line-height: 22px;
        color: rgba(43, 41, 45, 0.6);
        margin: 38px 0 27px;
    }
}

@media screen and (max-width: 800px){
    .container{
        max-width: 500px;    
    }

    .main_title{
        font-size: 52px;
        line-height: 56px; 
        letter-spacing: 0;
    }

    .main_text{
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 20px;
    }

    .main_img{
        width: 100%;
        margin: 10px 0 10px;
    }

    .brands-flex{
        max-width: 500px;
    }

    .features_description::before{
        display: none;
    }

    .features_img{
        width: 500px;
    }

    .inbox{
        padding: 45px 0 45px;
    }

    .communication{
        padding: 45px 0 30px
    }

    .engaging{
        padding: 45px 0 45px; 
    }

    .pictures-grid{
        gap: 20px 20px;
    }

    .pictures{
        width: 100%;
        justify-self: center;
    }

    .slider_title{
        max-width: 500px;
    }

    .slider_text{
        max-width: 500px;
    }

    .hiring_container{
        max-width: 500px;
    }

    .vacancy_pretitle{
        width: 200px;
    }

    .vacancy_text{
        margin-top: 20px;
        max-width: 100%;
    }

    .photos{
        padding-bottom: 75px;
    }

    .photos_text{
        margin-bottom: 75px;
    }

    .start_text{
        max-width: 460px;
    }

    .start_form{
        flex-direction: column;
        max-width: 290px;
        margin: 0 auto 22px; 
    }

    .start_input{
        max-width: 290px;
        margin: 0 0 10px;
    }

    .start_label{
        max-width: 430px;
    }

    .start_text-lower{
        max-width: 410px;
    }
}

@media screen and (max-width: 550px){
    .container{
        max-width: 430px;    
    }

    .main_title{
        max-width: 420px;
    }

    .main_text{
        max-width: 330px;
    }
    
    .brands-flex{
        max-width: 430px;
    }

    .features_info_title{
        max-width: 430px;
    }

    .capabilities{
        max-width: 430px;
    }

    .capability_title{
        max-width: 393px;
    }

    .features_image{
        max-width: 430px;
        margin: 0 auto;
    }

    .features_img{
        width: 100%;
    }

    .info_text-wide{
        max-width: 430px;
    }

    .pictures{
        height: 270px;
    }

    .pictures_icon{
        margin-top: 15px;
    }

    .pictures_text{
        margin: 15px 0;
    }

    .slider_title{
        max-width: 430px;
    }

    .slider_text{
        max-width: 430px;
    }

    .hiring{
        padding: 50px 0;
    }

    .hiring_container{
        max-width: 430px;
    }

    .hiring_description{
        margin-bottom: 35px;
    }

    .hiring_title-wide{
        max-width: 390px;
    }

    .vacancy_pretitle-lower{
        width: 120px;
    }

    .start_text{
        max-width: 430px;
    }

    .start_form{
        max-width: 290px 
    }

    .start_input{
        max-width: 290px;
        margin: 0 0 15px;
    }

    .start_label{
        max-width: 340px;
    }

    .start_fake{
        margin: 3px 0 0;
    }

    .start_text-lower{
        max-width: 295px;
        text-align: center;
    }
    
}

@media screen and (max-width: 480px){
    .container{
        max-width: 340px;    
    }

    .main_title{
        max-width: 330px;
    }

    .main_text{
        max-width: 300px;
    }

    .header{
        padding: 15px 0;
    }
    
    .brands{
        padding: 25px 0;
    }

    .brands-flex{
        gap: 0;
        max-width: 340px;
        align-items: center;
    }

    .brands_container{
        max-width: 110px;
        display: flex;
        align-items: center;
    }

    .brands_img{
        width: 80%;
        margin: 10px auto;
    }

    .features_info_title{
        max-width: 340px;
        margin: 20px auto 30px;
    }

    .features_info_text{
        max-width: 340px;
    }

    .capabilities{
        max-width: 340px;
    }

    .capability_title{
        max-width: 299px;
    }

    .capability_text{
        font-size: 16px;
    }

    .features_image{
        max-width: 340px;
    }

    .inbox{
        padding: 30px 0;
    }

    .container-image_img{
        max-width: 340px;
        width: 100%;
    }

    .engaging{
        padding: 30px 0;
    }

    .info_title-wide{
        max-width: 340px;
    }

    .info_text-wide{
        max-width: 340px;
    }

    .slider_title{
        max-width: 340px;
    }

    .slider_text{
        max-width: 340px;
    }

    .hiring_container{
        max-width: 340px;
    }

    .hiring_title-wide{
        max-width: 340px;
    }

    .hiring_text-wide{
        max-width: 340px;
    }

    .vacancy_pretitle{
        width: 130px;
    }

    .photos{
        padding-bottom: 40px;
    }

    .start_text{
        max-width: 350px;
    }

    .footer_container{
        max-width: 340px;
    }

    .footer_container-lower{
        max-width: 340px;
    }

    .modal{
        max-width: 340px;
        padding: 15px 20px 30px;
    }
    
    .modal_input{
        width: 285px;
    }
    
    .sign_up{
        width: 285px;
    }
}

@media screen and (max-width: 360px){
    .container{
        max-width: 310px;
    }

    .header{
        background-color: white;
        padding: 8px 0;
    }

    .header_checkbox:checked ~ .header_nav{
        background-color: white;
        border: 2px solid  #c7d2e7;
    }

    .logo img{
        margin-right: 13px;
    }

    .main{
        padding: 35px 0 36px;
    }

    .main_title{
        max-width: 290px;
        font-size: 50px;
        line-height: 50px;
        letter-spacing: -0.3125px;
        margin-bottom: 24px;
    }

    .main_text{
        max-width: 290px;
        font-size: 24px;
        line-height: 34px;
        margin-bottom: 30px;
    }

    .main_button{
        width: 310px;
    }

    .main_button-white{
        margin-left: 0;
        margin-top: 15px;
    }

    .main_img{
        width: 100%;
        margin: 33px 0 0;
    }

    .flex_questions{
        flex-direction: column;
    }

    .questions{
        padding: 46px 0;
    }

    .questions_text:not(:last-of-type){
        margin-bottom: 20px;
    }

    .brands{
        padding: 0px 0 49px;
    }

    .brands-flex{
        gap: 0;
        max-width: 330px;
        align-items: center;
    }

    .brands_container{
        max-width: 110px;
    }
    
    .features{
        padding: 0 0 45px;
        text-align: start;
    }

    .info_pretitle-green{
        max-width: 290px;
        margin: 0 auto 17px;
    }

    .features_info_title{
        margin: 0 auto 15px;
    }

    .features_info_text{
        margin: 0 auto 33px;        
    }

    .capabilities{
        max-width: 290px;
    }

    .capability_title{
        max-width: 250px;
        font-size: 16px;
        line-height: 26px;
    }

    .capability_text{
        line-height: 26px;
    }

    .features_image{
        max-width: 310px;
    }

    .inbox{
        padding: 50px 0 48px;
    }

    .flex_inbox-column{
        flex-direction: column;
    }

    .inbox_container-image{
        margin-bottom: 32px;
    }

    .container-image_img{
        max-width: 310px;
    }

    .info{
        text-align: start;
    }

    .info_title{
        max-width: 290px;
        font-size: 40px;
        line-height: 40px;
        letter-spacing: -0.357143px;
    }

    .info_text{
        max-width: 290px;
        font-size: 24px;
        line-height: 34px;
    }

    .info_pretitle-orange{
        max-width: 290px;
        margin: 0 auto 17px;
    }

    .inbox_info_title{
        margin: 0 auto 18px;
    }

    .inbox_info_text{
        margin: 0 auto 30px;
    }

    .inbox_response{
        padding: 30px 20px;
        margin: 0;
    }

    .flex_communication-column{
        flex-direction: column;
    }

    .communication{
        text-align: center;
        padding: 53px 0 53px;
    }

    .info_pretitle-blue{
        margin-bottom: 17px;
    }

    .communication_title{
        margin-bottom: 19px;
    }

    .communication_container-image{
        margin-bottom: 32px;
    }

    .communication_container{
        margin-top: 0;
    }

    .communication_text{
        margin-bottom: 30px;
    }

    .communication_button{
        margin-bottom: 40px;
    }

    .communication_description:not(:first-of-type){
        display: block;
        margin: 32px 0 0;
    }

    .communication_description:first-of-type{
        margin-top: 113px 0 0;
    }

    .communication_description{
        text-align: start;
    }

    .description_text{
        margin: 0;
    }

    .engaging{
        padding: 50px 0;
    }

    .info_pretitle-black{
        margin-bottom: 17px;
    }

    .info_title-wide{
        margin: 0 auto 18px;
    }

    .info_text-wide{
        margin: 0 auto 30px;
    }
    
    .engaging_buttons{
        margin-bottom: 40px;
    }

    .engaging_button-wide{
        width: 100%;
    }

    .button-white{
        margin: 12px 0 0;
    }

    .pictures-grid{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 15px;
    }

    .pictures{
        width: 100%;
        justify-self: center;
    }

    .slider{
        padding: 4px 0 115px;
    }

    .slider_title{
        max-width: 310px;
        text-align: start;
        margin: 0 auto 29px;
    }

    .slider_text{
        max-width: 310px;
        text-align: start;
        margin: 0 auto 32px;
    }

    .slider_name{
        max-width: 310px;
        text-align: start;
    }

    .slider_position{
        max-width: 310px;
        text-align: start;
        margin: 0 auto 40px;
    }

    .hiring{
        padding: 0 0 78px;
    }

    .hiring_container{
        max-width: 310px;
    }

    .hiring_description{
        margin-bottom: 39px;
    }

    .hiring_title-wide{
        max-width: 310px;
        font-size: 40px;
        line-height: 40px;
        letter-spacing: -0.357143px;
        margin: 0 auto 18px;
    }

    .hiring_text-wide{
        max-width: 310px;
        font-size: 24px;
        line-height: 34px;
        margin: 0 auto 30px;
    }

    .hiring_button{
        width: 310px;
    }

    .vacancies{
        padding: 0;
    }

    .vacancies > .flex{
        display: grid;
        grid-template-columns: 240px 50px;
        grid-template-rows: repeat(2, 1fr);
        gap: 0 20px;
    }

    .vacancy_pretitle{
        padding: 19px 0 0 25px;
        width: 160px;
    }

    .vacancy_pretitle-lower{
        grid-row: 2/3;
        padding: 0 0 0 25px;
        text-align: start;
        font-size: 16px;
        line-height: 22px;
        width: 215px;
    }

    .vacancy-icon{
        grid-row: span 2;
        font-size: 16px;
        line-height: 22px;
    }

    .vacancy_text{
        margin: 0 25px 19px 25px;
        max-width: 310px;
    }

    .hiring_pretitle-lower{
        font-size: 16px;
        line-height: 22px;
    }

    .photos-grid{
        gap: 17px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, 1fr);
    }

    .photo_item:nth-child(1){
        grid-row: 1/2;
    }

    .photo_item:nth-child(2){
        display: none;
    }

    .photo_item:nth-child(3){
        grid-column: 1/2;
        grid-row: 4/6;
    }

    .photo_item:nth-child(4){
        grid-row: 2/4;
    }

    .start{
        padding: 50px 0;
    }

    .start_flex{
        flex-direction: column;
    }

    .start_img{
        max-width: 220px;
        width: 100%;
        margin-bottom: 40px;
    }

    .start_description{
        max-width: 310px;
    }

    .start_title{
        text-align: start;
        margin-bottom: 18px;
    }

    .start_text{
        text-align: start;
        margin-bottom: 40px;
    }

    .start_form{
        max-width: 100%;
    }

    .start_input{
        max-width: 100%;
    }

    .start_button{
        width: 100%;
    }

    .start_label{
        max-width: 100%;
    }

    .start_fake{
        margin: 3px 5px 0 0;
    }

    .start_text-lower{
        max-width: 260px;
        text-align: start;
    }

    .footer{
        padding: 40px 0 23px;
    }

    .footer_container{
        max-width: 310px;
    }

    .footer_container-lower{
        max-width: 310px;
    }

    .footer_title{
        font-weight: 700;
        font-size: 22px;
        line-height: 28px;
        color: #2B292D;
        margin-bottom: 18px;
        margin-top: 30px;
    }

    .modal{
        max-width: 310px;
        padding: 15px 15px 30px;
    }
    
    .modal_input{
        width: 265px;
    }
    
    .sign_up{
        width: 265px;
    }
}

@media screen and (max-width: 320px){
    .container{
        max-width: 290px;
    }

    .main_button{
        width: 290px;
    }

    .brands-flex{
        max-width: 300px
    }

    .brands_container{
        max-width: 100px;
    }

    .features_image{
        max-width: 290px;
    }

    .container-image_img{
        max-width: 290px;
        width: 100%;
    }

    .slider_title{
        max-width: 290px;
    }

    .slider_text{
        max-width: 290px;
    }

    .slider_name{
        max-width: 290px;
    }

    .slider_position{
        max-width: 290px;
    }

    .hiring_container{
        max-width: 290px;
    }

    .hiring_title-wide{
        max-width: 290px;
        font-size: 40px;
        line-height: 40px;
        letter-spacing: -0.357143px;
        margin: 0 auto 18px;
    }

    .hiring_text-wide{
        max-width: 290px;
        font-size: 24px;
        line-height: 34px;
        margin: 0 auto 30px;
    }

    .hiring_button{
        width: 290px;
    }

    .vacancies > .flex{
        display: grid;
        grid-template-columns: 240px 50px;
        grid-template-rows: repeat(2, 1fr);
        gap: 0px;
    }

    .start_img{
        max-width: 200px;
    }

    .start_description{
        max-width: 290px;
    }

    .start_label{
        justify-content: center;
    }

    .start_text-lower{
        max-width: 210px;
        text-align: start;
    }

    .footer_container{
        max-width: 290px;
    }

    .footer_container-lower{
        max-width: 290px;
    }

    .modal{
        max-width: 290px;
        padding: 15px 15px 30px;
    }
    
    .modal_input{
        width: 245px;
    }
    
    .sign_up{
        width: 245px;
    }
}